<a href="https://colab.research.google.com/github/mesrp88/numpy_pandas_uses/blob/main/EDA_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd

In [39]:
url='/content/f500.csv'
f500= pd.read_csv('/content/f500.csv', index_col=0)

f500.head()

                          rank  revenues  ...  employees  total_stockholder_equity
company                                   ...
Walmart                      1    485873  ...    2300000                     77798
State Grid                   2    315199  ...     926067                    209456
Sinopec Group                3    267518  ...     713288                    106523
China National Petroleum     4    262573  ...    1512048                    301893
Toyota Motor                 5    254694  ...     364445                    157210

[5 rows x 16 columns]

In [40]:
f500.index.name=None
f500.head()

                          rank  revenues  ...  employees  total_stockholder_equity
Walmart                      1    485873  ...    2300000                     77798
State Grid                   2    315199  ...     926067                    209456
Sinopec Group                3    267518  ...     713288                    106523
China National Petroleum     4    262573  ...    1512048                    301893
Toyota Motor                 5    254694  ...     364445                    157210

[5 rows x 16 columns]

In [41]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      500 non-null    int64
 1   revenues                  500 non-null    int64
 2   revenue_change            498 non-null    float64
 3   profits                   499 non-null    float64
 4   assets                    500 non-null    int64
 5   profit_change             436 non-null    float64
 6   ceo                       500 non-null    object
 7   industry                  500 non-null    object
 8   sector                    500 non-null    object
 9   previous_rank             500 non-null    int64
 10  country                   500 non-null    object
 11  hq_location               500 non-null    object
 12  website                   500 non-null    object
 13  years_on_global_500_list  500 non-null    int64
 14  employees                 500 non-null    int64
 15  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

In [42]:
change_rank=  f500['rank']-f500['previous_rank']
change_rank

Walmart                             0
State Grid                          0
Sinopec Group                      -1
China National Petroleum            1
Toyota Motor                       -3
                                 ...
Teva Pharmaceutical Industries    496
New China Life Insurance           70
Wm. Morrison Supermarkets          61
TUI                                32
AutoNation                        500
Length: 500, dtype: int64

In [43]:
rank_change_max=change_rank.max()
print(rank_change_max)
rank_change_min= change_rank.min()
print(rank_change_min)

500
-226

In [44]:
zero_previous_rank= f500['previous_rank'].value_counts().loc[0]
zero_previous_rank

33

In [45]:
medians = f500[["revenues", "profits"]].median(axis=0)
# we could also use .median(axis="index")
print(medians)

revenues    40236.0
profits      1761.6
dtype: float64

In [46]:
max_f500=f500.max()
max_f500

rank                                             500
revenues                                      485873
revenue_change                                 442.3
profits                                        45687
assets                                       3473238
profit_change                                 8909.5
ceo                                       Zhou Qiang
industry                    Wholesalers: Health Care
sector                                   Wholesalers
previous_rank                                    500
country                                    Venezuela
hq_location                      Zurich, Switzerland
website                        http://www.zurich.com
years_on_global_500_list                          23
employees                                    2300000
total_stockholder_equity                      301893
dtype: object

In [47]:
max_f500=f500.max(numeric_only=True)
max_f500

rank                            500.0
revenues                     485873.0
revenue_change                  442.3
profits                       45687.0
assets                      3473238.0
profit_change                  8909.5
previous_rank                   500.0
years_on_global_500_list         23.0
employees                   2300000.0
total_stockholder_equity     301893.0
dtype: float64

In [48]:
f500_desc= f500.describe()  #only numerical columns describe here
f500_desc

             rank       revenues  ...     employees  total_stockholder_equity
count  500.000000     500.000000  ...  5.000000e+02                500.000000
mean   250.500000   55416.358000  ...  1.339983e+05              30628.076000
std    144.481833   45725.478963  ...  1.700878e+05              43642.576833
min      1.000000   21609.000000  ...  3.280000e+02             -59909.000000
25%    125.750000   29003.000000  ...  4.293250e+04               7553.750000
50%    250.500000   40236.000000  ...  9.291050e+04              15809.500000
75%    375.250000   63926.750000  ...  1.689172e+05              37828.500000
max    500.000000  485873.000000  ...  2.300000e+06             301893.000000

[8 rows x 10 columns]

Here I am changing ceo name of Dow Chemical company

In [49]:
f500.loc['Dow Chemical', 'ceo']

'Andrew N. Liveris'

In [50]:
f500.loc['Dow Chemical', 'ceo']='Jim Fitterling'

In [51]:
f500.loc['Dow Chemical', 'ceo']

'Jim Fitterling'

These are the country whose industry is motor vehicles and parts

In [52]:
motor_bool= f500['industry']=='Motor Vehicles and Parts'
motor_countries= f500.loc[motor_bool, 'country']
motor_countries

Toyota Motor                                 Japan
Volkswagen                                 Germany
Daimler                                    Germany
General Motors                                 USA
Ford Motor                                     USA
Honda Motor                                  Japan
SAIC Motor                                   China
Nissan Motor                                 Japan
BMW Group                                  Germany
Dongfeng Motor                               China
Robert Bosch                               Germany
Hyundai Motor                          South Korea
China FAW Group                              China
Beijing Automotive Group                     China
Peugeot                                     France
Renault                                     France
Kia Motors                             South Korea
Continental                                Germany
Denso                                        Japan
Guangzhou Automobile Industry Group          China
Tata Motors                                  India
ZF Friedrichshafen                         Germany
Jardine Matheson                             China
Magna International                         Canada
Volvo                                       Sweden
Hyundai Mobis                          South Korea
Aisin Seiki                                  Japan
Zhejiang Geely Holding Group                 China
Subaru                                       Japan
Bridgestone                                  Japan
Mazda Motor                                  Japan
Suzuki Motor                                 Japan
Sumitomo Electric Industries                 Japan
Michelin                                    France
Name: country, dtype: object

Here I changed sector column value  "Motor Vehicles & Parts" to "Motor Vehicles and Parts".. & is changed to and

In [53]:
ampersand_bool = f500["sector"] == "Motor Vehicles & Parts"
f500.loc[ampersand_bool,"sector"] = "Motor Vehicles and Parts"

In [54]:
previous_rank_before=f500['previous_rank'].value_counts(dropna=False).head()
previous_rank_before

0      33
159     1
147     1
148     1
149     1
Name: previous_rank, dtype: int64

In [55]:
import numpy as np

previous rank columns with zero value is changed to np.nan

In [56]:
f500.loc[f500['previous_rank']==0, 'previous_rank']=np.nan
prev_rank_after= f500['previous_rank'].value_counts(dropna= False).head()
prev_rank_after

NaN      33
471.0     1
234.0     1
125.0     1
166.0     1
Name: previous_rank, dtype: int64

In [57]:
f500['rank_change']= f500['previous_rank']-f500['rank']
rank_change_desc= f500['rank_change'].describe()
rank_change_desc

count    467.000000
mean      -3.533191
std       44.293603
min     -199.000000
25%      -21.000000
50%       -2.000000
75%       10.000000
max      226.000000
Name: rank_change, dtype: float64

In [58]:
f500['rank_change']=f500['previous_rank']-f500['rank']
rank_change_desc= f500['rank_change'].describe()
rank_change_desc

count    467.000000
mean      -3.533191
std       44.293603
min     -199.000000
25%      -21.000000
50%       -2.000000
75%       10.000000
max      226.000000
Name: rank_change, dtype: float64

Create a series, industry_usa, containing counts of the two most common values in the industry column for companies headquartered in the USA.

In [61]:
industry_usa= f500['industry'][f500['country']=='USA'].value_counts().head(2)
industry_usa

Banks: Commercial and Savings               8
Insurance: Property and Casualty (Stock)    7
Name: industry, dtype: int64

Create a series, sector_china, containing counts of the three most common values in the sector column for companies headquartered in the China.

In [63]:
sector_china = f500["sector"][f500["country"] == "China"].value_counts().head(3)
sector_china

Financials     25
Energy         22
Wholesalers     9
Name: sector, dtype: int64